matuna_znacJaz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="moviesInPocket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="basicSettings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:language" name="language"/>
                    <xs:element type="xs:string" name="dateFormat"/>
                    <xs:element type="xs:theme" name="theme"/>
                    <xs:element type="xs:boolean" name="fastStartup"/>
                    <xs:element type="xs:string" name="font"/>
                    <xs:element type="xs:fontSize" name="fontSize"/>
                    <xs:element type="xs:string" name="tmpLocation"/>
                    <xs:element type="xs:int" name="maxCacheSize"/>
                    <xs:element type="xs:byte" name="logoutAfter"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="userSettings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="password"/>
                    <xs:element type="xs:boolean" name="saveLogin"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="systemSettings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:protocol" name="protocol"/>
                    <xs:element type="xs:boolean" name="allowSecureConnection"/>
                    <xs:element type="xs:string" name="serverUrl"/>
                    <xs:element type="xs:string" name="urlPath"/>
                    <xs:element type="xs:string" name="streamUrl"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="playerSettings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="defaultBitrate"/>
                    <xs:element type="xs:language" name="defaultLanguage"/>
                    <xs:element type="xs:short" name="defaultRatio"/>
                    <xs:element type="xs:byte" name="defaultZoom"/>
                    <xs:element type="xs:boolean" name="subtitleEnabled"/>
                    <xs:element type="xs:language" name="defaultSubtitleLanguage"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rights">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="right" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="login"/>
                    <xs:element type="xs:boolean" name="play"/>
                    <xs:element type="xs:boolean" name="delete"/>
                    <xs:element type="xs:boolean" name="admin"/>
                    <xs:element type="xs:boolean" name="ageLimit"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="rid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="genres">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="genre" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="gid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="movies">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="movie" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:short" name="year"/>
                    <xs:element type="xs:string" name="country"/>
                    <xs:element type="xs:short" name="genre"/>
                    <xs:element type="xs:rating" name="rating"/>
                    <xs:element type="xs:string" name="director"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:boolean" name="streamAvailable"/>
                    <xs:element name="languages">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="language" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                                  <xs:attribute type="xs:string" name="code" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="bitrate"/>
                    <xs:element type="xs:ageLimit" name="ageLimit"/>
                    <xs:element type="xs:string" name="releaseDate"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
    <!-- Nastavení omezení -->
  <xs:simpleType name="language"> 
    <xs:restriction base="xs:string">
      <xs:enumeration value="cs"/>
      <xs:enumeration value="en"/>
      <xs:enumeration value="sk"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="theme"> 
    <xs:restriction base="xs:string">
      <xs:enumeration value="dark"/>
      <xs:enumeration value="light"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fontSize">
    <xs:restriction base="xs:integer">
    	<xs:minLength value="10"/>
      	<xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="fontSize">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="10"/>
      <xs:maxInclusive value="50"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="rating"> 
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType> 
  <xs:simpleType name="ageLimit"> 
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="18"/>
    </xs:restriction>
  </xs:simpleType> 
</xs:schema>